{{#if error}}
	<p style="color:red">{{error}}</p>
{{/if}}

<form method="POST" action="/admin/login">
	<input type="text" name="login" />
	<input type="password" name="pass" />
	<input type="submit" />
</form>